html, body {
	background-color: #f4f4f4;
}

#containerToast {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.container {
	background-color: white;
}

input, textarea {
	background-color: #f4f4f4 !important; 
}